<!DOCTYPE html>
<html ng-app='ngSnake'>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>Angular.js Õppekeskkond</title>
    <script src="angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body ng-controller="snakeCtrl">


<div class="minulogo">
    <img src="angular.png">
</div>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="to-do.html">To-Do</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="example.html">Example</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="resources.html">Recourses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="game.html">Game</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="feedback.html">Feedback</a>
    </li>
</ul>

<hr>
<div class="game-container">
    <h2 style="color: #db2e2e;">My Game: </h2>
    <br>

<div id="gameContainer">
    <div>
        <div class="column" ng-repeat="column in board" ng-click="placeToken($index)">
            <div ng-style="setStyling(val)" class="circle" ng-repeat="val in column track by $index">&nbsp</div>
        </div>
    </div>
</div>
<div id="startGame" ng-click="newGame()">New Game</div>
Player Turn : {{player === 1 ? 'Red' : 'Black'}}
</div>
<script src="angular.min.js"></script>
<script src="game.js"></script>

</body>
</html>
