<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>Angular.js Õppekeskkond</title>
</head>

<body ng-app="myApp" ng-controller="todoCtrl">

<div class="minulogo">
    <img src="angular.png">
</div>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="to-do.html">To-Do</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="example.html">Example</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="resources.html">Recourses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="game.html">Game</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="feedback.html">Feedback</a>
    </li>
</ul>

<hr>


<div class="todo-container">

<h2 style="color: #db2e2e;">My Todo List: </h2>
    <br>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New" class="form-control">
    <br>
    <input type="submit" value="Add New" class="btn btn-primary">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>
<br>
<p><button ng-click="remove()" class="btn btn-danger">Remove marked</button></p>


</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('todoCtrl', function($scope) {
        $scope.todoList = [{todoText:'Do Homework', done:false}];

        $scope.todoAdd = function() {
            $scope.todoList.push({todoText:$scope.todoInput, done:false});
            $scope.todoInput = "";
        };

        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
    });
</script>

</body>

</html>